* {
	padding    : 0;
	margin     : 0;
	font-family: "Microsoft YaHei", Helvetica, Arial, Sans-Serif;
}



body {
	padding-bottom  : 50px;
	width           : 100%;
	height          : 100%;
}
.carousel-inner{
	width: 80%;
}
.carousel-inner img{
width: 100%;
height: 100%;
}